<!--<div class=CenterDiv>-->
<!--    <h1>Login</h1>-->
    
<!--    <%= form_with url: login_path, local: true do |f| %>-->
<!--        <div class="field">-->
<!--            <%= f.label :email %><br>-->
<!--            <%= f.text_field :email , placeholder: "メールアドレス" %>-->
<!--        </div>-->
    
<!--        <div class="field">-->
<!--            <%= f.label :encrypted_password %><br>-->
<!--            <%= f.password_field :encrypted_password , placeholder: "パスワード" %>-->
<!--        </div>-->
    
<!--        <div>-->
<!--            <%= f.submit "Login" %>-->
<!--        </div>-->
<!--        <%= link_to "アカウントを作成する", new_user_path %>-->
<!--    <% end %>-->
<!--</div>-->