<h3>ルーム情報登録</h3>
<%= form_for(@hotel)do |new|%>
    <table>
        <tr>
            <th><%=new.label :roomname ,"ルーム名"%></th>
            <tb><%=new.text_field :roomname %></tb>
        </tr>
        <tr>
            <th><%=new.label :introduction ,"ルーム紹介"%></th>
            <tb><%=new.text_area :introduction %></tb>
        </tr>
        <tr>
            <th><%=new.label :price ,"料金  ￥"%></th>
            <tb><%=new.text_field :price ,data: { autonumeric:true } %></tb>

        </tr>
        <tr>
            <th><%=new.label :place ,"住所"%></th>
            <tb><%=new.text_field :place %></tb>
        </tr>
        <tr>
            <th><%=new.label :picture ,"写真"%></th>
            <tb><%=new.text_field :picture %></tb>
        </tr>
    </table>
    <div>
        <ul>
            <li><%= new.submit "登録"%></li>
            <!--<li><%= link_to "スケジュール一覧に戻る" , :hotels %></li>-->
        </ul>
    </div>
<% end %>